<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
         {% block title %}<title>Tolima Kids</title>﻿{% endblock %}
        {% block javascripts %}
        <link href="{{ asset ('bundles/frontfrontend/css/component.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset ('bundles/frontfrontend/css/bootstrap-theme.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset ('bundles/frontfrontend/css/bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset ('bundles/frontfrontend/css/style.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset ('bundles/frontfrontend/css/slider/EstilosACEX.css')}}" rel="stylesheet" type="text/css"/>                   
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>     
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/controller.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/modernizr.custom.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/jquery.cbpFWSlider.min.js')}}"></script>
      


    {% endblock %}
    </head>
    <body> 

        <div id="contaniner">

                        {{ include('::headerindex.html.twig')}}
                        {% block body %}

                        {% endblock %}
                      {{ include('::footer.html.twig')}}
        </div>
        
    </body>

</html>
