{% extends '::frontend.html.twig' %}
{% block body %}
{% block javascript %}
{{parent()}}
 <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/jquery.cbpFWSlider.min.js')}}"></script>
 <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/jquery.raty.js')}}"></script>
  <link href="{{ asset ('bundles/frontfrontend/css/rating.css')}}" rel="stylesheet" type="text/css">
  <script src="http://js-kit.com/ratings.js"></script>

 <script type="text/javascript">
$( function() {

        $('#star').raty({
          half      : true,
          size      : 24,
          starHalf  : '/bundles/frontfrontend/images/star-half.png',
          starOff   : '/bundles/frontfrontend/images/star-off.png',
          starOn    : '/bundles/frontfrontend/images/star-on.png'
        });


        //alert(map + "pru");
        //alert('sik');
        $('#cbp-fwslider').cbpFWSlider();
       
       // Detecto la estrella que es presionada
   
        
        
         var element = document.createElement('script'); 
            element.type = "text/javascript"; 
            element.async = true;
            element.id = "406153069523025"
            element.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
            var s = document.getElementsByTagName('script')[0]; 
            s.parentNode.insertBefore(element, s);
        
            $('#star1').rating('Score.php', {maxvalue: 5, curvalue:1, id:20});
    });
   
</script>
{% endblock%}
<input type="hidden" value="{{activity.id}}" id="activity_id"/>
<div class="row">


    <div class="curve">
    {% include 'FrontFrontendBundle:Activity:show_map.html.twig'%}
    </div>
      <div class="row actividades">
          <div class="col-md-12 child">
          </div><!--child-->

          
      		<div class="col-md-8">
  				
                <div id="cbp-fwslider" class="cbp-fwslider">
                    <ul>

                              {% if activity.getGaleryLength >= 1%}

                                    {% if activity.getGalery %}    

                        <li><a href="#"> <img src="{{ activity.getFoto.getWebPathFile }}" alt="{{ activity.getName }}" /></a></li>

                                    {% endif %}


                            {% endif %} 
                    </ul>
                    
                    
                </div><!--silder detalle-->
       		
            </div>
            
              
            <div class="col-md-4">
            	<h1>{{activity.getName}}</h1>
                	<div>
            		<p>{{activity.getDescription}}</p></div>
                    
                    <div class="costo">
                    <h3>Costos:</h3>
                    <p>Adultos: ${{activity.getCosta}}</p>
                    <p>Niños: ${{activity.getCost}}</p>
                    </div>
                     <div class="calificacion">
                    <h3>Calificación:</h3>
                    <div class="calificar">
                         <div id="star"></div>
     
                    </div>
            </div>
            <div style="clear:both"></div>
            </div>
 

   
 </div> <!--list_actividad--> 

            
{% endblock  %}

 
                 