{% extends '::frontend.html.twig' %}
{% block body %}
{% block javascript %}
{{parent()}}
 <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/jquery.cbpFWSlider.min.js')}}"></script>
 <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/rating.js')}}"></script>
  <link href="{{ asset ('bundles/frontfrontend/css/rating.css')}}" rel="stylesheet" type="text/css">
  <script src="http://js-kit.com/ratings.js"></script>

 <script type="text/javascript">
$( function() {


        //alert(map + "pru");
        //alert('sik');
        $('#cbp-fwslider').cbpFWSlider();
       
       // Detecto la estrella que es presionada
   
        
        
         var element = document.createElement('script'); 
            element.type = "text/javascript"; 
            element.async = true;
            element.id = "406153069523025"
            element.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
            var s = document.getElementsByTagName('script')[0]; 
            s.parentNode.insertBefore(element, s);
        
            $('#star1').rating('Score.php', {maxvalue: 5, curvalue:1, id:20});
    });
   
</script>
{% endblock%}
<input type="hidden" value="{{activity.id}}" id="activity_id"/>
<div class="row">


    <div class="curve">
    {% include 'FrontFrontendBundle:Activity:show_map.html.twig'%}
    </div>
      <div class="row actividades">
          <div class="col-md-12 child"></div><!--child-->
          <div class="list_actividad">
          
      		<div class="col-md-8">
  				
                <div id="cbp-fwslider" class="cbp-fwslider">
                    <ul>

                              {% if activity.getGaleryLength >= 1%}

                                    {% if activity.getGalery %}    

                        <li><a href="#"> <img src="{{ activity.getFoto.getWebPathFile }}" alt="{{ activity.getName }}" /></a></li>

                                    {% endif %}


                            {% endif %} 
                    </ul>
                    
                    
                </div><!--silder detalle-->
       		
            </div>
            
            <div class="col-md-4">
            	<h1>{{activity.getName}}</h1>
                	<div>
            		<p>{{activity.getDescription}}</p></div>
                    
                    <div class="costo">
                    <h3>Costos:</h3>
                    <p>Adultos: ${{activity.getCosta}}</p>
                    <p>Niños: ${{activity.getCost}}</p>
                    </div>
                     <div class="calificacion">
                    <h3>Calificación:</h3>
                    <div class="calificar">
                         <ul>
                             <div class="ffbs_rating_wrapper">
<div id='rate_2mea1fbv' class='ffbs_rate ffbs_rate_border ffbs_centered' data-label-rating='icon' data-label-views='icon' data-label-votes='icon'>
<!--{[['<img src="http://static.graddit.com/img/star_blue.png"/>']]}--></div>
<div id='stats_2mea1fbv' class='ffbs_stats ffbs_centered'></div>
<div id='share_2mea1fbv' class='ffbs_share ffbs_share_border ffbs_centered'></div></div>
<script type='text/javascript' src='http://www.graddit.com/rate/rus/5/2mea1fbv?id=rate_2mea1fbv&stats=stats_2mea1fbv&info=info&info_delay=2&class_star=ffbs_star_img&class_star_set=ffbs_star_img_set&class_star_vote=ffbs_star_img_vote&views=yes&votes=yes&average=yes&share=share_2mea1fbv'></script>
                         </ul>
                     <div class="fb-like" data-href="http://tolimakids.local/" data-width="292" data-send="true"></div>
                        </div>
                    
                     
                    </div>
            </div>
            <div style="clear:both"></div>
            </div>
      </div> <!--list_actividad-->   

   
 </div> <!--list_actividad--> 

            
{% endblock  %}

 
                 