{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle::layout.html.twig" %}


{% block fos_user_content %}  

      {% block sonata_user_login %}  
<div class="row">


                    {% block sonata_user_login_error %}
                        {% if error %}
    <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}
                    {% endblock %}

                    {% block sonata_user_login_form %}



<form action="{{ path("fos_user_security_check") }}" method="post" role="form"
                          class="form-horizontal">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <div class="form-group">

            <div class="col-sm-12">
                <input type="email" class="form-control log" id="inputEmail3"
                       name="_username" value="{{ last_username }}"
                       required="required" placeholder="Nombre de usurio o correo electrónico"/> 
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-7">
                <input type="password" class="form-control log" id="inputPassword3"
                       name="_password" required="required" placeholder="Contraseña"/>
            </div>
            <div class="col-sm-3">
                <input type="submit" id="_submit" name="_submit" class="btn btn-info"
                       value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="checkbox remb">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                </div>
            </div>
        </div>
        <p class="tc">¿Crea tu cuenta en Tolima Kids? <a href="#">Registrate</a></p>
        <ul class="social_log" align="center">
            <li><a href="#"></a></li>
            <li class="f_icon"><a href="{{ path("hwi_oauth_service_redirect",{service: "facebook"})}}"><img src="{{ asset('bundles/frontfrontend/images/facebook.jpg')}}"></a></li>
            <li><a href="#"></a></li>
        </ul>

    </form>
    </div>
                    {% endblock %}
</div>
            {% endblock %}
</div>
</div>

{% endblock fos_user_content %}





