{% extends '::frontend.html.twig' %}
{% block body %}
<input type="hidden" value="{{places.id}}" id="places_id"/>
  
<section class="principal">
    <section class="contenido">
       {% block content %}
          
        <section class="colocar_contenido">
            <div id="informacion" class="informacion">
                    {% if places != NULL %}
                    
                    
                    
                    <div class="curve">
                    {% include 'FrontFrontendBundle:Places:show_map.html.twig'%}
                      
                    </div>
                    </div>
                    <div class="row actividades">
                            <h1>{{ places.getName }}</h1>
                                    <div class="col-md-12 child">
        
                            </div><!--child-->
                          <div class="list_actividad">
    
                                <div class="col-md-12">
                                    <h1>Detalle</h1>
                                            <div>
                                            <h3>Descripción</h3>    
                                            <p>{{ places.getDescription }}</p></div>
                                            <div>
                                            <h3>Dirección</h3>
                                            <p>{{ places.getAddress }}</p></div>

                                        <div class="costo">
                                        <h3>Actividades:</h3>
                                        {% for activity in places.activity %}
                                            <a href="{{url('front_frontend_actividad_detalle',{id:activity.getId})}}">{{ activity.name }}</a>
                                        {%  endfor %}
                                        </div>
   
                                </div>
                                <div style="clear:both"></div>
                          </div> <!--list_actividad--> 
                    </div><!--content actividades-->
                    {% endif %}
                    </div>
                </section>
            </section><!--colocar_contenido-->
    {% endblock %}
        </section><!--cierre contenido-->


        <script type="text/javascript">
            $(document).ready(function() {
                var places_id = $("#places_id").val();
                cargarPlaces(places_id);
            });
   
            </script>
            
            
{% endblock  %}
            
            