{% extends "::frontend.html.twig" %}

{% block title %}Actividades{% endblock %} 
{% block body %}
   
    {% block javascript %}
        {{parent()}}
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/Gmap.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/controller.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/api_calls.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/render.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/main.js')}}"></script>
        <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/jquery-ui-1.10.3.js')}}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">

        <script type="text/javascript">   
            $(document).ready(function() {

                  LoadMap();
                  cargarPlaces();


              });
 

      </script>
    {% endblock %}
        <style>
            .gmaps{
               height: 100px ;
               margin: 100px;
               padding: 100px
            }
           .gmaps img {
                 max-width: none;
           }
      </style>
      
      <body onload="localize()"> 
          
       <div id="map-canvas" class="gmaps"></div>
       
      </body>
    

       <input type="hidden" id="url_detalle" value="{{url('front_frontend_lugar_detalle',{id:0})}}">
             <form method="get" action=".">
                   {{ form_rest(form) }}
                   <input type="submit" name="submit-filter" value="filter" />
               </form>
       
       <p><input  id="lti" value="" type="hidden" name="latitud"/></p>
       <p><input  id="lgi" value="" type="hidden" name="longitud"/></p>

                
                {% for activity in activities %}
                        <a href="{{url('front_frontend_actividad_detalle',{id:activity.id})}}">{{ activity.name}}</a>
                    
                {% endfor %}
                        
                <div id="accordion">
                    <h3>Section 1</h3>
                    <div>
                      {% for result in results %}
                        <li>{{result.name}} </li>
                      {% endfor %}
                    </div>                     
                </div>             
                
     

{% endblock %}



 


