{% extends "::frontend.html.twig" %}

{% block body %}

    {% block javascript %}
        {{parent()}}
          <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>    
            <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/map2/Gmap2.js')}}"></script>
            <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/map2/controller.js')}}"></script>
            <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/map2/api_calls.js')}}"></script>
            <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/map2/render.js')}}"></script>
            <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/map2/main.js')}}"></script>
            <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/map2/jquery-ui.js')}}"></script>        
            <script type="text/javascript" src="{{ asset ('bundles/frontfrontend/js/map2/jquery-1.11.1.js')}}"></script> 
<script type="text/javascript">
    $(document).ready(function() {

        LoadMap();
        cargarPlaces();


    });


    </script>
    {% endblock %}

  
    <style>
      .gmaps{
                height: 360px;

            }

        .gmaps img {
                        max-width: none;
        }
        </style>
        <div class="row">
            <input type="hidden" id="url_detalle" value="{{url('front_frontend_lugar_detalle',{id:0})}}">
            <div class="col-md-12">
               <div class="col-md-9 col-md-offset-1 if"><div id="map-canvas" class="gmaps"></div></div>
                    <div class="row">
                          <div class="col-md-6 col-md-offset-3 buscar1">
                              
                            <h1 class="text-center">Buscar Actividad</h1>
                            
                            <form class="form-inline" action="."  method="GET" role="form">
                                    <div class="form-group">
                                        
                                     <label>Actividad</label><br/>  
                                     
                                     {{form_widget(form.name,{'attr': {'class':'form-control searche'}})}}
                                     </div>
                                     <div class="form-group">
                                         
                                     <label>Lugares</label><br/> 
                                     
                                     {{form_widget(form.places,{'attr': {'class':'form-control searche'}})}}
                                    </div> 
                            
                                    <button type="submit" class="btn btn-info btn-sm adde">Buscar Actividad</button>
                                 
                                     <input  id="lti" type="hidden" name="latitud" value=""/>
                                     <input  id="lgi" type="hidden" name="longitud" value=""/>
                            {{form_end(form)}}
                          
                                 
                        </div>  
                    </div>
           </div>

          

        <div class="curve"></div>

    <div class="row actividades">
	<h1>Lista de actividades</h1>
		<div class="col-md-12 child">
      
        </div><!--child-->
        <div class="list_actividad">  
            {% for activity in actividades %}  
            <div class="row activ">
                <div class="col-md-8"> <a href="{{url('front_frontend_actividad_detalle',{id:activity.getId})}}"><h4>{{ activity.name}}</h4></a></div>
                <div class="col-md-4"><p class="text-right fecha">{{ activity.cost}}</p></div>
                <div class="col-md-12"><p>{{ activity.description}}</p></div>
             </div>
            {% endfor %}
            
            </div> <!--list_actividad--> 
            {% if actividades|length > 0 %}
               <div class="paginador">
                    <a href="{{ knp_pagination_render(actividades) }}"/>      
                </div> 
            {% endif %}
      </div>

       


 
      </div>
           
        
{% endblock %}

 




